In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
storms2013 = pd.read_csv('StormEvents_2013.csv')
storms2013.head()

,EpisodeID,Event_ID,State,Year,Month,Event_Type,Begin_Date_Time,Timezone,End_Date_Time,Injuries_Direct,...,Damage_Property,Property_Cost,Damage_Crops,Crop_Cost,Begin_Lat,Begin_Lon,End_Lat,End_Lon,Episode_Narrative,Event_Narrative
0,71313,436163,NEW HAMPSHIRE,2013,February,Winter Weather,2013-02-23 19:00:00,EST-5,2013-02-25 04:00:00,0,...,0.00K,0.0,0.00K,0.0,NaN,NaN,NaN,NaN,A coastal low moved southeast of southern New ...,Three to five inches of snow fell across easte...
1,81847,491388,NEW HAMPSHIRE,2013,December,Heavy Snow,2013-12-14 21:00:00,EST-5,2013-12-15 13:00:00,0,...,0.00K,0.0,0.00K,0.0,NaN,NaN,NaN,NaN,"Low pressure moved out of the midwest, off the...",Eight to nine inches of snow fell across easte...
2,72356,440167,NEW HAMPSHIRE,2013,March,Heavy Snow,2013-03-07 15:00:00,EST-5,2013-03-09 09:00:00,0,...,0.00K,0.0,0.00K,0.0,NaN,NaN,NaN,NaN,This storm brought heavy snow and significant ...,Five to sixteen inches of snow fell across eas...
3,78671,473492,NEW HAMPSHIRE,2013,October,Strong Wind,2013-10-07 18:30:00,EST-5,2013-10-07 18:30:00,0,...,3.00K,3000.0,0.00K,0.0,NaN,NaN,NaN,NaN,A warm front moved northward across southern N...,A tree on Harbor Avenue was downed.
4,71943,435880,NEW HAMPSHIRE,2013,February,Heavy Snow,2013-02-08 15:00:00,EST-5,2013-02-09 17:00:00,0,...,0.00K,0.0,0.00K,0.0,NaN,NaN,NaN,NaN,An historic winter storm deposited tremendous ...,Sixteen to twenty-four inches of snow fell acr...

Determinar datos faltantes
y hacer un analisis exploratorio y descriptiva