# Data Analysis
## Final Project
### Features in the flight dataset
#### December 6th

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('flightsOct.csv')
airports = pd.read_csv('airports.csv')

In [3]:
origin = df.groupby('ORIGIN')

In [4]:
airports

,AIRPORT,DISPLAY_AIRPORT_NAME,DISPLAY_AIRPORT_CITY_NAME_FULL,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International,"Allentown/Bethlehem/Easton, PA",40.654722,-75.438333
1,ABI,Abilene Regional,"Abilene, TX",32.409444,-99.679722
2,ABQ,Albuquerque International Sunport,"Albuquerque, NM",35.041667,-106.606389
3,ABR,Aberdeen Regional,"Aberdeen, SD",45.449722,-98.421667
4,ABY,Southwest Georgia Regional,"Albany, GA",31.532222,-84.196111
...,...,...,...,...,...
317,AKN,King Salmon Airport,"King Salmon, AK",58.677778,-156.651667
318,DLG,Dillingham Airport,"Dillingham, AK",59.041667,-158.506667
319,GST,Gustavus Airport,"Gustavus, AK",58.427500,-135.705000
320,HYA,Barnstable Municipal-Boardman/Polando Field,"Hyannis, MA",41.665833,-70.280556
321,WYS,Yellowstone,"West Yellowstone, MT",44.686667,-111.104722

In [5]:
airpotlat = airports[['AIRPORT', 'LATITUDE', 'LONGITUDE']]
airpotlat = airpotlat.rename(columns={'AIRPORT': 'ORIGIN'})

Agregamos latitude y longitude de cada origen

In [6]:
dff = df.merge(airpotlat, on='ORIGIN')

Eliminamos la columna sobrante

In [8]:
dff = dff.rename(columns={'LATITUDE': 'LATITUDE_ORIGIN', 'LONGITUDE': 'LONGITUDE_ORIGIN'})
dff

,YEAR,MONTH,DAY_OF_MONTH,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,...,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,LATITUDE_ORIGIN,LONGITUDE_ORIGIN
0,2015,10,1,AA,N797AA,1,JFK,LAX,900,1001.0,...,51.0,0.0,NaN,0.0,370.0,360.0,324.0,2475.0,40.638611,-73.776944
1,2015,10,2,AA,N788AA,1,JFK,LAX,900,855.0,...,-15.0,0.0,NaN,0.0,370.0,360.0,328.0,2475.0,40.638611,-73.776944
2,2015,10,4,AA,N794AA,1,JFK,LAX,900,854.0,...,-16.0,0.0,NaN,0.0,370.0,360.0,322.0,2475.0,40.638611,-73.776944
3,2015,10,5,AA,N798AA,1,JFK,LAX,900,859.0,...,-14.0,0.0,NaN,0.0,370.0,357.0,326.0,2475.0,40.638611,-73.776944
4,2015,10,6,AA,N799AA,1,JFK,LAX,900,856.0,...,-32.0,0.0,NaN,0.0,370.0,342.0,316.0,2475.0,40.638611,-73.776944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486160,2015,10,31,WN,N413WN,4061,ISP,MCO,1350,1358.0,...,-9.0,0.0,NaN,0.0,165.0,148.0,133.0,971.0,40.796667,-73.100833
486161,2015,10,31,WN,N7745A,4070,ISP,MCO,720,718.0,...,-18.0,0.0,NaN,0.0,165.0,149.0,131.0,971.0,40.796667,-73.100833
486162,2015,10,31,WN,N926WN,3925,ISP,PBI,1605,1620.0,...,0.0,0.0,NaN,0.0,170.0,155.0,143.0,1052.0,40.796667,-73.100833
486163,2015,10,31,WN,N413WN,4062,ISP,PBI,715,718.0,...,-17.0,0.0,NaN,0.0,170.0,150.0,135.0,1052.0,40.796667,-73.100833
486164,2015,10,31,WN,N255WN,127,ISP,TPA,650,650.0,...,-12.0,0.0,NaN,0.0,175.0,163.0,147.0,1034.0,40.796667,-73.100833

In [9]:
airpotlat

    ORIGIN   LATITUDE   LONGITUDE
0      ABE  40.654722  -75.438333
1      ABI  32.409444  -99.679722
2      ABQ  35.041667 -106.606389
3      ABR  45.449722  -98.421667
4      ABY  31.532222  -84.196111
..     ...        ...         ...
317    AKN  58.677778 -156.651667
318    DLG  59.041667 -158.506667
319    GST  58.427500 -135.705000
320    HYA  41.665833  -70.280556
321    WYS  44.686667 -111.104722

[322 rows x 3 columns]

In [10]:
airpotlat = airpotlat.rename(columns={'ORIGIN': 'DEST', 'LATITUDE': 'LATITUDE_DEST', 'LONGITUDE': 'LONGITUDE_DEST'})
airpotlat

    DEST  LATITUDE_DEST  LONGITUDE_DEST
0    ABE      40.654722      -75.438333
1    ABI      32.409444      -99.679722
2    ABQ      35.041667     -106.606389
3    ABR      45.449722      -98.421667
4    ABY      31.532222      -84.196111
..   ...            ...             ...
317  AKN      58.677778     -156.651667
318  DLG      59.041667     -158.506667
319  GST      58.427500     -135.705000
320  HYA      41.665833      -70.280556
321  WYS      44.686667     -111.104722

[322 rows x 3 columns]

Agregamos la latitude y longitude del destino

In [11]:
dff = dff.merge(airpotlat, on='DEST')
dff

,YEAR,MONTH,DAY_OF_MONTH,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,...,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,LATITUDE_ORIGIN,LONGITUDE_ORIGIN,LATITUDE_DEST,LONGITUDE_DEST
0,2015,10,1,AA,N797AA,1,JFK,LAX,900,1001.0,...,NaN,0.0,370.0,360.0,324.0,2475.0,40.638611,-73.776944,33.942500,-118.408056
1,2015,10,2,AA,N788AA,1,JFK,LAX,900,855.0,...,NaN,0.0,370.0,360.0,328.0,2475.0,40.638611,-73.776944,33.942500,-118.408056
2,2015,10,4,AA,N794AA,1,JFK,LAX,900,854.0,...,NaN,0.0,370.0,360.0,322.0,2475.0,40.638611,-73.776944,33.942500,-118.408056
3,2015,10,5,AA,N798AA,1,JFK,LAX,900,859.0,...,NaN,0.0,370.0,357.0,326.0,2475.0,40.638611,-73.776944,33.942500,-118.408056
4,2015,10,6,AA,N799AA,1,JFK,LAX,900,856.0,...,NaN,0.0,370.0,342.0,316.0,2475.0,40.638611,-73.776944,33.942500,-118.408056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486160,2015,10,15,F9,N902FR,927,TTN,UST,1709,1714.0,...,NaN,0.0,147.0,126.0,112.0,801.0,40.278056,-74.812500,29.958611,-81.338889
486161,2015,10,28,F9,N927FR,927,TTN,UST,715,706.0,...,NaN,0.0,150.0,126.0,114.0,801.0,40.278056,-74.812500,29.958611,-81.338889
486162,2015,10,26,F9,N927FR,927,TTN,UST,715,725.0,...,NaN,0.0,150.0,135.0,119.0,801.0,40.278056,-74.812500,29.958611,-81.338889
486163,2015,10,30,F9,N939FR,927,TTN,UST,715,711.0,...,NaN,0.0,150.0,156.0,125.0,801.0,40.278056,-74.812500,29.958611,-81.338889
486164,2015,10,31,F9,N938FR,927,TTN,UST,715,710.0,...,NaN,0.0,150.0,121.0,107.0,801.0,40.278056,-74.812500,29.958611,-81.338889

np.arctan2(denominador(Y), numerador(X))

np.arctan2(longitude, latitude)

In [24]:
dff['SIN_AZIMUTH'] = np.sin(np.arctan2((dff['LONGITUDE_DEST'] - dff['LONGITUDE_ORIGIN']), (dff['LATITUDE_DEST'] - dff['LATITUDE_ORIGIN'])))
dff

,YEAR,MONTH,DAY_OF_MONTH,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,...,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,LATITUDE_ORIGIN,LONGITUDE_ORIGIN,LATITUDE_DEST,LONGITUDE_DEST,SIN_AZIMUTH
0,2015,10,1,AA,N797AA,1,JFK,LAX,900,1001.0,...,0.0,370.0,360.0,324.0,2475.0,40.638611,-73.776944,33.942500,-118.408056,-0.988932
1,2015,10,2,AA,N788AA,1,JFK,LAX,900,855.0,...,0.0,370.0,360.0,328.0,2475.0,40.638611,-73.776944,33.942500,-118.408056,-0.988932
2,2015,10,4,AA,N794AA,1,JFK,LAX,900,854.0,...,0.0,370.0,360.0,322.0,2475.0,40.638611,-73.776944,33.942500,-118.408056,-0.988932
3,2015,10,5,AA,N798AA,1,JFK,LAX,900,859.0,...,0.0,370.0,357.0,326.0,2475.0,40.638611,-73.776944,33.942500,-118.408056,-0.988932
4,2015,10,6,AA,N799AA,1,JFK,LAX,900,856.0,...,0.0,370.0,342.0,316.0,2475.0,40.638611,-73.776944,33.942500,-118.408056,-0.988932
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486160,2015,10,15,F9,N902FR,927,TTN,UST,1709,1714.0,...,0.0,147.0,126.0,112.0,801.0,40.278056,-74.812500,29.958611,-81.338889,-0.534511
486161,2015,10,28,F9,N927FR,927,TTN,UST,715,706.0,...,0.0,150.0,126.0,114.0,801.0,40.278056,-74.812500,29.958611,-81.338889,-0.534511
486162,2015,10,26,F9,N927FR,927,TTN,UST,715,725.0,...,0.0,150.0,135.0,119.0,801.0,40.278056,-74.812500,29.958611,-81.338889,-0.534511
486163,2015,10,30,F9,N939FR,927,TTN,UST,715,711.0,...,0.0,150.0,156.0,125.0,801.0,40.278056,-74.812500,29.958611,-81.338889,-0.534511
486164,2015,10,31,F9,N938FR,927,TTN,UST,715,710.0,...,0.0,150.0,121.0,107.0,801.0,40.278056,-74.812500,29.958611,-81.338889,-0.534511

RegresiÃ³n lineal solo con distancia

In [27]:
bos = origin.get_group('BOS')

In [28]:
x = bos.DISTANCE.values.reshape(-1, 1)
y = bos.CRS_ELAPSED_TIME.values.reshape(-1, 1)
basicModel = LinearRegression().fit(x, y)
basicModel.score(x, y)

0.993181780784797

RegresiÃ³n lineal con distancia y seno de Azimuth

In [29]:
bos_azimuth = dff.groupby('ORIGIN').get_group('BOS')

In [33]:
x2 = bos_azimuth[['DISTANCE', 'SIN_AZIMUTH']].values
y2 = bos_azimuth.CRS_ELAPSED_TIME.values.reshape(-1, 1)
model2 = LinearRegression().fit(x2, y2)
model2.score(x2, y2)

0.9942122943622201

Mejora .001 aproximadamente